.header {
    display: flex;
    height: 60px;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.header-logo {
    margin: 0 30px
}

.header-controls {
    margin-right: 30px
}

.header-form {
    display: flex;
}
.header-form > div {
    margin-right: 20px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap
}

.layer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
