.toolbar {
    display: flex;
    height: 80px;
    align-items: center;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding-left: 15px;
}

.toolbar-controls {
    margin-right: 30px
}

.toolbar-form {
    display: flex;
}
.toolbar-form > div {
    margin-right: 20px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap
}

.layer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
