body {
    background: #030303
}

.toolbar {
    display: flex;
    padding: 20px 0;
    align-items: center;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding-left: 15px;
}

.toolbar-controls {
    margin-right: 30px
}

.toolbar-form {
    display: flex;
}
.toolbar-form > div {
    margin-right: 20px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap
}

.layer {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.volume {
    display: flex;
    align-items: center;
}

@media (max-width: 799px) {
    .toolbar, .toolbar-form {
        flex-direction: column;
    }
}
